.goTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
    border: 1px solid #76b7c4;
}

.goTop:hover {
    cursor: pointer;
    border: 1px solid #ffff;
}

.arrow, .arrow::before {
    font-size: 30px;
    margin: 0;
    width: 30px;
    height: 30px;
}