.primeiro-conteudo {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.conteiner-1, .conteiner-2 {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 60px;
    user-select: none;
}

.desc {
    color: #375a78;
    background-color: #fbfdff;
    width: 80%;
    border-radius: 50px;
    text-wrap: wrap;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 20px;
    user-select: none;
}

.preview-photo {
    height: 300px;
    border-radius: 25px;
}

@media (max-width: 1024px) {
    .primeiro-conteudo {
        margin-top: 10vh;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        margin-bottom: 20px;
    }

    .titulo {
        font-size: 40px;
        text-align: center;
        height: auto;
    }

    .preview-photo {
        width: 100%;
        height: auto;
    }

    .conteiner-2 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .preview-photo {
        border-radius: 0px;
    }
}