.quarto-conteudo {
    width: 100dvw;
    height: 100dvh;
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #518abb;
    border-top: 1px solid #76b7c4;
    flex-direction: column;
}

.praticas-esg {
    display: flex;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 80%;
    gap: 30px;
}

.o-que-e, .onde-aplicado {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.conteiner-titulo-esg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-esg {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 60px;
    user-select: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 40px;
}

.o-que-e-titulo, .onde-aplicado-titulo {
    color: #1e3346;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 40px;
    user-select: none;
    line-height: 40px;
}

.o-que-e-desc, .lista {
    color: #ffffff;
    text-wrap: wrap;
    text-align: left;
    font-family: "Karla", sans-serif;
    font-weight: 200;
    font-size: 20px;
    user-select: none;
    margin: 0;
}

.conteiner-lista {
    display: flex;
    gap: 10px;
}

@media (max-width: 1024px) {
    .quarto-conteudo {
        height: auto;
        padding: 20vw 0 20vw 0;
        gap: 20px;
    }

    .titulo-esg {
        font-size: 40px;
        text-align: center;
    }

    .o-que-e-titulo, .onde-aplicado-titulo {
        font-size: 40px;
    }

    .conteiner-lista {
        flex-direction: column;
    }
}