.terceiro-conteudo {
    width: 100dvw;
    height: 150dvh;
    background-color: #518abb;
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-top: 1px solid #76b7c4;
}

.textos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}

.titulo-jogo {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 60px;
    user-select: none;
}

.desc-jogo {
    color: #ffffff;
    text-wrap: wrap;
    text-align: left;
    font-family: "Karla", sans-serif;
    font-weight: 200;
    font-size: 20px;
    user-select: none;
    margin: 0;
}

.atencao-jogo{
    display: none;
    color: #375a78;
    text-wrap: wrap;
    text-align: left;
    font-family: "Karla", sans-serif;
    font-weight: 200;
    font-size: 20px;
    user-select: none;
    margin: 0;
}

@media (max-width: 1024px) {
    .terceiro-conteudo {
        height: auto;
        padding: 20vw 0 20vw 0;
        gap: 20px;
    }

    iframe {
        display: none;
    }

    .atencao-jogo {
        display: flex;
        width: 80%;
    }
}